/*
-----------------------------------
-----------------------------------
    COMMON
-----------------------------------
-----------------------------------
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header{
  background-color: rgb(66,121,149);
  color: #CEF0D4; 
  font-family: 'Rouge Script', cursive;  
  font-weight: normal;
}

body{
  background-color: rgb(242,244,249);
  color: rgb(62,65,79);
  font: 15px Helvetica Neue,Arial,Helvetica,sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type:none;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.body-content{
  display: inline-flex;
  width: 100%;
  padding: 10px;
  overflow-x: auto;
}

.menu{
  clear: both;
}

#headname{
  font-size: 24px;
  margin-top: 10px;
  padding-left: 5px;
  float: left;
  text-shadow: 1px 1px 2px #082b34;
}

#logo{
  margin-top: 10px;
  float: left;
  width: 40px;
  height: 40px;
}

.main-heading{
  width: 240px;
  margin: 0 auto;
}

.btn-menu {
  background-color: rgb(203,238,249);
  color: rgb(96,120,97);
  font: 14px Helvetica;
  font-variant: small-caps;
  font-size: 20px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 2px;
  /*margin-top: 5px;*/
  margin-left: 5px;
  border: 1px solid #dfe2e5;
  padding: 5px 15px;
}

.body-header{
  text-align: center;
  padding: 10px 0px 10px 0px;
  background-color: rgb(238,174,86);
}

#head-body{
  font: 24px Arial;
  font-variant: small-caps;
  color: rgb(62,65,79);
}


/*
-----------------------------------
-----------------------------------
    tasks page
-----------------------------------
-----------------------------------
*/

.col-1-4 {
  width: 240px;
  min-width: 240px;
  height: 700px;
  float: left;
  text-align: center;
  margin: 0 20px;
}

.task{
  margin: 0 auto;
  height: 80px;
  border: 0.5px solid gray;
  border-radius: 5%;
  margin-bottom: 5px;
  white-space: nowrap; 
}

.edit-del-task{
  visibility: hidden;
}

.edit-task-btn,.del-task-btn{
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.task:hover .edit-del-task{
  visibility: visible;
}

.task-list{
  border: 2px solid gray;
  padding: 5px;
  background-color: white;
  overflow-y: auto;    
  overflow-x: hidden;
  max-height: 620px;
}

.list-header{
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.add-task-btn{
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 25px;
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 5%;
}

#task-select{
  width: 80px;
  height: 25px;
  font-size: 15px;
}

.task-name{
  font-size: 18px;
  text-align: left;
  padding-left: 2px;
  padding-top: 2px;
  font-weight: bold;
}

.task-details{
  font-style: italic; 
  font-size: 13px;
  text-align: right;
  position: relative;
  bottom: 0;
  float: right;
  margin: 3px;
}

.todo{
  background-color: rgb(246,92,92);
}

.doing{
  background-color: rgb(112,155,237);
}

.done{
  background-color: rgb(159,229,164);
}


/*
-----------------------------------
-----------------------------------
    user page
-----------------------------------
-----------------------------------
*/

.add-user{
  margin-top: 20px;
  margin-left: 50px;
  /*margin-bottom: 10px;*/
}

.user-display{
  /*margin-top: 10px;*/
  margin-left: 60px;
  height: 540px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: auto;
}

.user{
  /*display: inline-block;*/
  float:left;
  height: 120px;
  margin: 30px;
  border: 2px solid gray;
  padding: 5px;
  background-color: white;
}

.user-section{
  text-align: left;
  display: inline-block;
  width: 160px;
}

.edit-del-user{
   visibility: hidden;
}

.edit-user-btn,.del-user-btn{
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
  height: 25px;
}

.user:hover .edit-del-user{
  visibility: visible;
}

.user-name{
  padding-left: 5px;
  /*float: left;*/
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
}

.role,.skypeID,.email{
  padding-left: 5px;
  display: block;
}

.user-image{
  float: right;
}

.user-image > img{
  display: inline-block;
  margin-left: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.add-user-btn{
  margin-left: 50px;
  margin-right: 10px;
  width: 100px;
  height: 25px;
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 5%;
}